#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 organize
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique, mauris pellentesque blandit tristique, nunc mi iaculis quam, id rutrum metus urna sit amet risus. Cras bibendum urna vel lectus aliquet consectetur. Praesent arcu risus, pharetra ac lectus at, viverra fringilla erat. Aenean laoreet tristique nulla, nec ullamcorper purus elementum non. Nunc pulvinar sem rhoncus maximus iaculis. Praesent pellentesque urna justo, a tempor lectus lobortis vel. Donec nisi leo, aliquam quis elit eget, blandit rutrum libero. Nulla nec dolor ut magna pellentesque consequat. Proin dapibus consequat tellus, vel fermentum lorem. Aenean accumsan mi neque, at facilisis ipsum dapibus id. Sed finibus pharetra ex at ultricies.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
